body {
  background-color: white !important;
  color: black !important;
  font-family: Roboto, Arial, sans-serif;
}

iframe {
  border: none;
}
.header {
  padding-top: 0.75rem;
  padding-bottom: 0.25rem;
  justify-content:space-between;
  display: flex;
  width: 100%;
  position: fixed;
  right: 0px;
  top: 0px;
  height: 2.25rem;
  background-color: white;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.profile-image {
  margin-top: 0.25rem;
  margin-right: 1rem;
  height: 100%;
  text-align: center;
}

.profile-image img {
  width: 32px;
}

.text {
  margin-top: 0.25rem;
  height: 2rem;
  text-align: center;
  color: red;
  font-size: 20px;

  font-weight: 500px;
}
#search {
  color: rgba(0, 0, 0, 0.45);
  padding-top: 9px;
  margin-left: -4px;
  padding-bottom: 9px;
  padding-left: 32px;
  padding-right: 32px;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-left: -5px;
}

#search-bar {
  height: 2rem;
  text-align: center;
  width: 48rem;
  padding-bottom: 0;
  text-align: left;
  padding-left: 12px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#sidebar {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-top: 3rem;
  float: right;
  width: 20rem;
  background-color: rgb(32, 32, 32);
}

#sidebar iframe {
  padding: 20px;
  border-width: 2px;
  border-color: green;
  border-right: 0;
}

.sidebar-btn {
  /* margin-top: 0.25rem; */
  margin-left: 1rem;
  /* height: 100%; */
  text-align: center;
  
  
  
  padding-top: 6px;
}
#main {
  width: 70%;
}

#video-section {
  min-width: 15rem;
  max-width: 65rem;
}
#main-video iframe {
  text-align: center;
  margin-bottom: 0.5rem;
}

#main-info {
  background-color: white;
  color: white;
  border-radius: 20px;
  width: 96%;
  padding: 0.2rem;
}

#main-info-li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#main-info-li li {
  list-style-type: none;
  font-size: 20;
}
.nice-text {
  color: green;
  font-weight: 900;
  font-size: 20;
}
