body {
  background-color: black !important;
  color: black !important;
}

.header {
  padding-top: 0.75rem;
  padding-bottom: 0.25rem;
  justify-content: space-between;
  display: flex;
  width: 100%;
  position: fixed;
  right: 0px;
  top: 0px;
  height: 2.25rem;
  background-color: black;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#search {
  color: white;
  padding-top: 9px;
  margin-left: -4px;
  padding-bottom: 9px;
  padding-left: 16px;
  padding-right: 16px;
  height: 100%;

  background-color: green;
  border-radius: 10rem;
}

#search-bar {
  height: 100%;
  text-align: center;
  width: 48rem;
  border: 1px solid #000;
  border-radius: 10rem;
}

#sidebar {
  display: flex;
  flex-direction: column;
  background-color: black;

  float: right;
  width: 20rem;
}
#sidebar iframe {
  padding: 20px;
}

#main {
  width: 70%;
}

#video-section {
  width: 65rem;
}
#main-video iframe {
  text-align: center;
  margin-bottom: 0.5rem;
}

#main-info {
  background-color: black;
  color: white;
  border-radius: 20px;
  width: 96%;
  padding: 0.2rem;
}

#main-info-li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#main-info-li li {
  list-style-type: none;
}
